body {
  background-color: #222244;
  perspective: 1px;
  overflow-x: hidden;
  transform-style: preserve-3d;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #F0F0F0;
  font-family: 'Roboto';
  text-align: center;
}
.left-underline {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.left-underline:before {
  content: "";
  right: 100%;
  bottom: 0;
  background: #ECECEC;
  position: absolute;
  z-index: -1;
  left: 0;
  height: 4px;
}
.left-underline:hover:before, .left-underline:focus:before, .left-underline:active:before {
  right: 0;
}
div.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background: #FF5A02;
  height: 60px;
  z-index: 9999999;
}
div.navbar > ul.navbar-container {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}
div.navbar > ul > li.nav-item {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
div.navbar > ul > li.active {
  background-color: rgba(0, 0, 0, 0.18);
}
div.navbar > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
a.nav-button {
  font-family: 'Roboto';
  text-decoration: none;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(228, 241, 254, 1);	
  transition: all 0.5s ease;
}
a.nav-button:hover {
  text-decoration: none;
}
li.active > a.nav-button {
  cursor: default;
}
.logo {
  font-family: 'Roboto';
  float: left;
  cursor: default;
  height: 120px;
  overflow:hidden;
}
.site-name {
  font-family: 'Verdana';
  line-height: 60px;
  font-size: 30px;
  float: left;
  cursor: default;
  overflow:hidden;
}

div.navbar > ul > li.site-name:hover {
  background-color: rgba(0, 0, 0, 0);
}